.center-box {
  background-color:#f4f4f4; /* Semi-transparent white */
  padding: 20px; /* Adjust padding as needed */
  border-radius: 15px; /* Add borderRadius for a rounded look */
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack content vertically */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Optional subtle shadow */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
}

.container {
  display: flex;
  justify-content: flex-start; /* Align to the top left */
  align-items: flex-start; /* Align items to the top */
  width: 100%;
  position: absolute;
  top: 4vh; /* Adjusting to start from the top */
  left:7.5vmax; /* Start from the left */
  padding: 0px; /* Add some padding for spacing */
}


.Conn {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 3vmax;
  color: black;
}

.Verse {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 3vmax;
  color: #E2921B;
}

.loginPageImage {
  width: 20vw; /* Adjust width as needed */
  height: 40vh; /* Maintain aspect ratio */
  margin-top: -4vh; /* Adjust margin as needed */
  position: absolute;
  left: 6vmax; /* Position on the left side */
  transform: translateY(-50%);
}
.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  margin-top: 10vh;
  transition: all 0.5s;
}
.loginForm > div{
  display: flex;
  width: 100%;
  align-items: center;
}
.loginForm > div >input{
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 500 1.4vmax 'sans-serif';
  outline: none;
}
.loginForm > div:nth-child(2){
  position: relative;
  width: 100%;
}
.loginForm > div >svg{
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: black;
}
.loginForm > div > svg:hover{
  color: #f2b65d;
}
.loginForm > div:nth-child(2) > input{
  padding: 1vmax 4vmax;
  padding-right: 3vmax; /* Adjust the padding to accommodate the eye icon */
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 500 1.4vmax 'sans-serif';
  outline: none;
}
.loginForm > a{
  color: rgba(0, 0, 0, 0.678);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 400 1.2vmax "Gill Sans";
}
.loginForm > a:hover{
  color: black;
  transform: scale(1.02);
}
.loginBtn{
  border: none;
  background-color: #f2b65d;
  color: black;
  transition: all 0.5s;
  font: 500 1.4vmax 'Inter', sans-serif;
  padding: 0.8vmax;
  width: 100%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  border-radius: 4px;
  font-weight: bold;
}
.loginBtn:hover{
  background-color: #f2b65dca;
}
.loginForm > p{
  text-decoration: none;
  color: black;
  font: 400 1.2vmax "Gill Sans";
  margin-bottom: -1vh;
}
.loginForm > p > a{
  color: #f2b65d;
}
.logo {
  position: absolute;
  top: 4vmax; /* Adjust top position as needed */
  left: 3.47vw; /* Adjust left position as needed */
  width: 7vmax;
  height: auto;
}

.about-us {
  font-family: 'Inter', sans-serif;
  font-weight:300;
  font-size: 0.6rem; /* Adjust the font size as needed */
  text-align: left; /* Center the text */
  position: absolute; /* Position the text absolutely */
  bottom: 0.5vmax; /* Adjust the distance from the bottom */
  left: 4%; /* Position in the center horizontally */
  z-index: 1; /* Ensure the text is above the image */
  margin-right: 30px;
}

.about-us-head {
  margin-bottom: 1vh;
  font-family: 'Inter', sans-serif;
  font-weight:bold;
  font-size: 0.7rem; /* Adjust the font size as needed */
  text-align: left; /* Center the text */
  position: absolute; /* Position the text absolutely */
  bottom: 2.6vmax; /* Adjust the distance from the bottom */
  left: 4%; /* Position in the center horizontally */
  z-index: 1; /* Ensure the text is above the image */
}
