.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #e2921b, #cc994c);
  padding: 10px 20px;
  z-index: 999;
}

.connversehead{
  margin-top: 0px;
  align-items: center;
  height: 1vh;
  display: flex;
  align-items: center;
}


/*  */
.nav-items {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-left: 51vw;
  margin: 0;
}

.nav-item {
  padding-left: 1vw;
  margin-right: 20px;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.nav-link span {
  font-size: 14px;
}

/*  */
.profile {
  position: fixed;
  right: -6vw;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  padding-right: 7vw;
}

.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  margin-left: 0.3vw;
  font-weight: bold;
  color: white;
}

.nav-link:hover {
  transform: translateY(-2px);
  filter: brightness(1.2);
}

#Conn1 {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 2vmax;
  color: rgb(255, 255, 255);
  margin-right: 20px; /* Add some spacing between "Connverse" and the navbar */
  display: flex;
  align-items: center;
}

.connversehead{
  align-items: center;
  height: 1vh;
  display: flex;
  align-items: center;
}

/* dropDown */

/* Add this to your existing style.css file or create a new one if needed */

.dropdown {
  position: relative;
  display: inline-block;
  z-index: 5;
}

.dropbtn {
  z-index: 5;
  color: white;
  font-size: 10px;
  background-color: #cc994c;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:  #f4f4f4;
  min-width: 130px;
  z-index: 5;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: white
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #eebb6f;
}
