@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 20px;
}

.leftContent {
    display: flex;
    align-items: center;
}

#NavBarImage {
    margin-top: 0;
    height: 5vh;
    margin-right: 2vw;
    width: auto;
    position: absolute;
    left: 6vmax; /* Position on the left side */
    top: 50%; /* Adjust vertically as needed */
    transform: translateY(-50%);
}

.Conn{
    margin-left: 10vw;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.navlink {
    text-decoration: none;
    margin-right: 2vw;
}

.navbutton {
    color: #28282B;
    transition: all 0.3s;
    font-size: 1.5vmax;
    font-family: 'Poppins';
    font-weight: bolder;
    background-color: transparent; /* Set background color to transparent */
    border: none; /* Remove border */
}

.navbutton:hover {
    transform: scale(1.1);
    border-bottom: 2px solid #28282B ;
}



  .Conn {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3vmax;
    color: black;
  }
  
  .Verse {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 3vmax;
    color: #E2921B;
  }