#mainBodyDiv{
    display: flex;
    /* justify-content: center; */
    gap: 0.5vw;
    width: 100%;
    padding-bottom: 2vh;
    background-color: #FBE8CB;
}


/* ////////////////Single Blog in detail//////////////// */
#leftHalfBlogDiv{
    margin-top: 10vh;
    margin-left: 2vw;
    gap:2vh;
    display: flex;
    flex-direction: column;
    width : 68%;
    padding: 2%;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* Section 1 BLog */
#headBlogDiv{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap:2vw;
    height : 20vh;
    width : 100%;
}

#profileImageBlogDiv{
    border-radius: 50%;
    width: 20%;
}

#subHeadBlogDiv{
    width: 80%;
    height: 100%;
    padding: 1%;
}

#titleBlogDiv{
    font-size: 2.5em;
    font-weight: bold;
}
#rowUsername{
    display: flex;
    flex-direction: row;
    gap: auto;
}
#subTitleBlogDiv{
    display: flex;
    flex-direction: column;
}

#userDetailsBlogDiv{
    display: flex;
    flex-direction: column;
}

#usernameBlogDiv{
    margin-right: 5vw;
    font-size: 1.5em;
    font-weight: bold;
    font-family: "Arial", sans-serif; /* Example font-family */
    color: #3366cc; /* Example color */
    text-decoration: underline; /* Example text decoration */
}


#uploadedDayBlogDiv{
    font-size: 1.5em;
    font-family: "Times New Roman", serif; /* Example font-family */
}


#votesNCommentsBlogDiv{
    display: flex;
    font-size: 1.2em;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5vh;
    margin-left: 25vw;
    gap: 1vw;
}

#upVotesBlogDiv, #downVotesBlogDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#upVoteButton, #downVoteButton {
    color: black;
    font-size: 1.5em;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    padding: 1%;
    margin-right: 10px; /* Add margin between the buttons */
}


#commentsBlogDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#profileImageBlogDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/* Section 2 BLog */
#imagesBlogDiv{
    max-height: 50vh;
    height: 50vh;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

#imagesBlogDiv img{
    border-radius: 10px;
    margin-top: 5vw;
    height: 20vw;
}

/* Section 3 BLog */
#contentBlogDiv {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    padding: 0.5%;
}
.solid {
    border-top: 2px solid #333; /* Dark color */
  }
  

/* ////////////Comments related to single blog//////////// */
#rightHalfCommentsDiv{
    display: flex;
    height: max-content;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
    margin-top: 10vh;
    width: 24%;
    background-color: whitesmoke;
    border-radius: 10px;
    max-height:89.5vh;
    border: 1px solid #ccc;
}
#headingCommentsDiv{
    margin-top: 1vh;
    font-size: 1.5em;
    justify-content: center;
    font-weight: bold;
    padding: 1%;
}
#commentsListDiv{
    width: 100%;
    display: flex;
    overflow-y: auto;
    gap: 1vh;
    flex-direction: column;
}

.commentX{
    margin-left: 2%;
    width: 96%;
    height: 10vh;
    background-color: white;
    border-radius: 10px;
}

.commentHeadingDiv{
    display: flex;
    flex-direction: row;
    gap: 1vh;
    width: 100%;
    height: 4vh;
}

.commentProfilePhoto{
    width: 10%;
    height: 100%;
    border-radius: 50%;
    background-color: #ccc;
}

.commentProfilePhoto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.commentTitle{
    width: 90%;
    height: 100%;
    padding: 1%;
    font-weight: bold;
}

.commentContent{
    width: 100%;
    height: 2vh;
    padding: 1%;
}

#addCommentsDiv{
    display: flex;
    width: 100%;
    margin-bottom: 0.5vh;
}

#addCommentsDiv input{
    margin-left: 1.5%;
    width: 70%;
    margin-top: 3vh;
    height: 3vh;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 1%;
}

#addCommentsDiv button{
    margin-left: 1%;
    width: 23.5%;
    margin-top: 3vh;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #FBE8CB;
}

#addCommentsDiv button:hover{
    background-color: #FBD28B;
}